<!DOCTYPE html>
<html>
<head>
  <title>Principale</title>
  <link rel="stylesheet" href="/style.css"/>
  <meta charset="utf8"/>
</head>
<body>
    <div id="menu_gauche"><!-- Bloc : Liste des médicaments inscrits dans la BDD -->
      
      <%= include function/listMedic %>
    </div>
    <div id="centre">
      <div>
        <p id="titre">Medigraph</p>
      </div>
      <div id="corps"><!-- Bloc : Liste des matériaux -->
        <h3>Bienvenue dans l'application Médigraph.</h3>
        <p>Ce site est développé grâce à Node js.</p>
        </div>
    </div>
    <div id="menu_droite"><!-- Bloc : Liste des médicaments inscrits dans la BDD -->
    <%= include function/listMetaux %>
    </div>
</body>
<footer>
  <p>Développé par Victor GODIER<br>victor.godier@gmail.com     http://victorgodier.wordpress.com</p>
</footer>
</html>
