<!DOCTYPE html PUBLIC >
<html>
<head>
    <title>Medicament</title>
    <link href="css.css" rel="stylesheet" />
    <meta charset="utf8" />
</head>
<body>
    <div><!-- Bloc : Liste des médicaments inscrits dans la BDD -->
      <%= include function/listMedic %>
    </div>


    <div><!-- Bloc Titre -->
      <a href='..'>
        <h1>MediGraph</h1><!-- bouton de retour à la page d'accueil -->
      </a>
    </div>


    <div><!-- Bloc : Affichage d'un médicament -->
      <table></table>
    </div>

    <div><!-- Bloc : top médicaments les plus rentables -->
      <table></table>
    </div>
</body>
</html>
