<table>
  <tr>
    <th>Métal</th>
    <th>Prix</th>
  </tr>
  <%= error %>
  <% for(var i=0; i<metals.length; i++) {%>
  <tr><td><%= metals[i].name%></td><td><%=metals[i].price+'€'%> </td></tr>
  <% } %>
</table>
