
#menu_gauche
{
  float:left;

  background-color: white;
  /*border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px 2px #666666;
  box-shadow: 2px 2px 2px 2px #666666;*/
}
#corps
{
  float:left;
  background-color: white;
  /*border-radius: 1px;
  outline: 2.5px dashed #808080;
  outline-offset: 1.2px;*/
}
#menu_droite
{
  float:left;

  background-color: white;
  /*border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px 2px #666666;
  box-shadow: 2px 2px 2px 2px #666666;*/
}
